.loginformpage{
    min-height: 100vh;
    margin-top: -30px;
    background-size: cover;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s111-mn-cauliflower-broccoli-carrot-apple-puree-02_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=0c284391f7eec9c3de4c3037e2aa3e6a");
}

.passwordicon, .usernameicon{
    float: left;
    margin-right: 3px;
    position: relative;
    margin-top: 2.3%;
    font-size: 1.4rem;
}

#logindataform{
    display: flex;
    justify-content: right; 
    margin-top: 12%;
    margin-right: 15%;
    
    
}
.loginform{
    width: 25%;
    padding: 40px;
    line-height: 2rem;
    /* background-image: url("https://img.freepik.com/free-photo/top-view-coffee-cup-blanket-with-copy-space_23-2148791045.jpg?size=626&ext=jpg");
    background-size: cover;  
    background-position: 48%; */
    margin-top: -6%;
    box-shadow:0px 1px 10px 10px rgb(107, 107, 97);
    border-radius: 10px;
    /* filter: drop-shadow(0 0 1rem rgb(107, 107, 97)); */
    
}

.loginlbl{
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
    margin-top: 5%;
    font-weight: bold;
}

.passwordCorrection{
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.863);
}
#loginSubmit{
    margin-top: 50px;
    text-align: center;
    width: 55%;
    color: rgba(0, 0, 0, 0.863);
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#loginSubmit:hover{
    background-color: rgba(0, 0, 0, 0.863);
    color:  aliceblue;
  }
h2{
    text-align: right;
    
}
.gotosignup{
    color: rgba(0, 0, 0, 0.863);
    margin-left: 15px;
}

.h4login{
    margin-left: 15px;
}
